.DS_Store
.dart_tool/

.packages
.pub/

build/
.idea/
img/
test/

.metadata
.flutter-plugins
pubspec.lock
tech_terms.iml
tech_terms_android.iml
*/key.properties
*/rand.txt
flutter_**.png
android/app/google-services.json
ios/GoogleService-Info.plist